/**
 * @file
 * Navigation styles.
 */
/* line 82, ../images/icons-small/*.png */
.icons-small-sprite, #navigation h2 a {
  background: url('../images/../images/icons-small-se6519942e6.png') no-repeat;
}

/* line 11, ../sass/navigation.scss */
#navigation {
  background-color: #1d6d72;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  color: white;
}
/* line 16, ../sass/navigation.scss */
#navigation a {
  text-decoration: none;
}
/* line 18, ../sass/navigation.scss */
#navigation a:link {
  color: white;
}
/* line 21, ../sass/navigation.scss */
#navigation a:visited {
  color: #efefef;
}
/* line 25, ../sass/navigation.scss */
#navigation a:hover, #navigation a:active {
  text-decoration: underline;
}
/* line 28, ../sass/navigation.scss */
#navigation a.active-trail {
  background-color: #efefef;
  color: #4d9ca2;
}
/* line 33, ../sass/navigation.scss */
#navigation h2 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 35, ../sass/navigation.scss */
#navigation h2 a {
  height: 32px;
  width: 32px;
  background-position: 0 -7px;
}
/* line 41, ../sass/navigation.scss */
#navigation li {
  list-style: none;
}

/* line 46, ../sass/navigation.scss */
#secondary-menu a {
  color: white;
}
/* line 48, ../sass/navigation.scss */
#secondary-menu a:visited {
  color: #efefef;
}
