/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 82, ../images/icons-small/*.png */
.icons-small-sprite {
  background: url('../images/../images/icons-small-se6519942e6.png') no-repeat;
}

/* line 12, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
/* line 16, ../sass/pages.scss */
body.html {
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/pages.scss */
h1,
h2,
h3,
h4 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

/* line 32, ../sass/pages.scss */
a:link, a:visited {
  text-decoration: none;
  color: #4d9ca2;
}
/* line 37, ../sass/pages.scss */
a:hover, a:focus {
  text-decoration: underline;
  color: #2b7a80;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 48, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 51, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/* line 61, ../sass/pages.scss */
#content {
  background-color: white;
}

/* line 68, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 69, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 73, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 86, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
}

/* line 88, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  background-color: rgba(239, 239, 239, 0.2);
  /* Drupal core uses a #eee background */
}

/* line 92, ../sass/pages.scss */
tr.odd {
  background-color: white;
  /* Drupal core uses a #eee background */
}

/* line 95, ../sass/pages.scss */
thead {
  border-bottom: 3px solid #666666;
}

/* line 99, ../sass/pages.scss */
th img {
  vertical-align: middle;
  padding-left: 0.3em;
}

/* line 104, ../sass/pages.scss */
td {
  vertical-align: top;
  padding: 0.75em;
  line-height: 1.5em;
}

/* line 110, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 113, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 119, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 123, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 128, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 131, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 135, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 139, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 142, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 145, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 148, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 152, ../sass/pages.scss */
.node ul,
.panel-hpszen-primary-box ul {
  line-height: 1.5em;
}

/* line 156, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 160, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 166, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 170, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 173, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 177, ../sass/pages.scss */
a.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted black;
}

/* line 181, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 184, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/* line 188, ../sass/pages.scss */
.print_html,
.print_mail,
.print_pdf {
  display: block;
  float: left;
  padding-right: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 0.9em;
  line-height: 1.66667em;
  line-height: 3em;
  margin-left: 0;
}
/* line 197, ../sass/pages.scss */
.print_html a,
.print_mail a,
.print_pdf a {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  color: black;
  overflow: visible;
  color: #1d6d72;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  text-decoration: none;
  border-style: solid;
  border-width: 0.1em;
  padding: 0.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  border-color: #cccccc;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(left top, #f2f2f2, #dddddd);
  background-image: -moz-linear-gradient(left top, #f2f2f2, #dddddd);
  background-image: -o-linear-gradient(left top, #f2f2f2, #dddddd);
  background-image: linear-gradient(left top, #f2f2f2, #dddddd);
  cursor: pointer;
}
/* line 93, ../sass/_custom.scss */
.print_html a:hover,
.print_mail a:hover,
.print_pdf a:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0ecec));
  background-image: -webkit-linear-gradient(left top, #ffffff, #f0ecec);
  background-image: -moz-linear-gradient(left top, #ffffff, #f0ecec);
  background-image: -o-linear-gradient(left top, #ffffff, #f0ecec);
  background-image: linear-gradient(left top, #ffffff, #f0ecec);
}
/* line 96, ../sass/_custom.scss */
.print_html a:active,
.print_mail a:active,
.print_pdf a:active {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(left top, #f2f2f2, #dddddd);
  background-image: -moz-linear-gradient(left top, #f2f2f2, #dddddd);
  background-image: -o-linear-gradient(left top, #f2f2f2, #dddddd);
  background-image: linear-gradient(left top, #f2f2f2, #dddddd);
}

/* line 208, ../sass/pages.scss */
.page-search .views-row h2,
.pane-hps-browse-panel-pane-list .views-row h2 {
  clear: both;
  padding-top: 3em;
  border-bottom: 1px solid #666666;
  margin-bottom: 0.75em;
}
/* line 215, ../sass/pages.scss */
.page-search .views-row.views-row-first h2,
.pane-hps-browse-panel-pane-list .views-row.views-row-first h2 {
  padding-top: 0.75em;
}

/* line 225, ../sass/pages.scss */
.pane-hps-browse-panel-pane-index td:nth-child(2), .pane-hps-browse-panel-pane-index td:nth-child(4) {
  width: 12%;
}
/* line 228, ../sass/pages.scss */
.pane-hps-browse-panel-pane-index td:nth-child(5) {
  width: 15%;
}

/* line 234, ../sass/pages.scss */
.pane-hps-browse-panel-pane-gallery h2 {
  font-size: 1.2em;
  line-height: 2.5em;
  line-height: 1.5em;
}
/* line 238, ../sass/pages.scss */
.pane-hps-browse-panel-pane-gallery .field-dspace-bitstream-url {
  width: 100%;
}

/* line 244, ../sass/pages.scss */
#content-header,
.panel-hpszen-introduction {
  background-color: #efefef;
}

/* line 248, ../sass/pages.scss */
.panel-hpszen-featured {
  background-color: #bbd3d4;
}

/* line 252, ../sass/pages.scss */
#header {
  background: #4d9ca2;
  color: white;
}
/* line 255, ../sass/pages.scss */
#header .section {
  background: transparent url("../images/seal.png") no-repeat 0 40%;
}

/* line 260, ../sass/pages.scss */
#logo {
  display: block;
  max-width: 25.5em;
}
/* line 263, ../sass/pages.scss */
#logo img {
  max-width: 100%;
}

/* line 268, ../sass/pages.scss */
.with-logo #site-name {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 274, ../sass/pages.scss */
#name-and-slogan h1#site-name {
  font-weight: normal;
}
/* line 276, ../sass/pages.scss */
#name-and-slogan h1#site-name a:link,
#name-and-slogan h1#site-name a:visited {
  text-decoration: none;
  color: #fff;
}
/* line 281, ../sass/pages.scss */
#name-and-slogan h1#site-name a:hover,
#name-and-slogan h1#site-name a:focus {
  text-decoration: underline;
  color: #fff;
}
/* line 288, ../sass/pages.scss */
#name-and-slogan h1#site-name span > span:first-of-type {
  font-size: 0.7em;
  font-style: italic;
}
/* line 292, ../sass/pages.scss */
#name-and-slogan h1#site-name span > span:last-of-type {
  display: block;
}
/* line 298, ../sass/pages.scss */
#name-and-slogan h2#site-slogan {
  font-style: "Helvetica Neue", Arial, Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
}

/* line 306, ../sass/pages.scss */
#secondary-menu {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
}
/* line 312, ../sass/pages.scss */
#secondary-menu .block-menu .block-title,
#secondary-menu .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* line 315, ../sass/pages.scss */
#secondary-menu ul {
  list-style-type: none;
  line-height: 4.5em;
}
/* line 5, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#secondary-menu ul, #secondary-menu ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#secondary-menu ul li:after {
  content: "|";
}
/* line 31, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#secondary-menu ul li:last-child:after {
  content: "";
}
/* line 34, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p194@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#secondary-menu ul li.last:after {
  content: "";
}
/* line 318, ../sass/pages.scss */
#secondary-menu ul a {
  padding: 1.5em;
}

/* line 325, ../sass/pages.scss */
#bottom {
  background-color: #efefef;
  color: #666666;
}
/* line 328, ../sass/pages.scss */
#bottom li {
  list-style-type: none;
}

/* line 333, ../sass/pages.scss */
#footer {
  background-color: #666666;
  color: white;
}
/* line 336, ../sass/pages.scss */
#footer a {
  color: white;
}
/* line 339, ../sass/pages.scss */
#footer li {
  list-style-type: none;
}
/* line 342, ../sass/pages.scss */
#footer #block-menu-menu-hps-tertiary {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  border-bottom: 1px dotted #efefef;
}
/* line 348, ../sass/pages.scss */
#footer .block:last-child address {
  font-style: normal;
}

/* line 361, ../sass/pages.scss */
.front.hpszen-primary-downsides-boxes #content .panel-hpszen-aside-box .panel-pane, .front.hpszen-home #content .panel-hpszen-aside-box .panel-pane {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbd3d4), color-stop(100%, #aac2c3));
  background-image: -webkit-linear-gradient(#bbd3d4, #aac2c3);
  background-image: -moz-linear-gradient(#bbd3d4, #aac2c3);
  background-image: -o-linear-gradient(#bbd3d4, #aac2c3);
  background-image: linear-gradient(#bbd3d4, #aac2c3);
  border: 1px solid #bbd3d4;
}
/* line 364, ../sass/pages.scss */
.front.hpszen-primary-downsides-boxes #content .panel-hpszen-aside-box .panel-pane a, .front.hpszen-home #content .panel-hpszen-aside-box .panel-pane a {
  text-decoration: none;
  color: black;
}
/* line 367, ../sass/pages.scss */
.front.hpszen-primary-downsides-boxes #content .panel-hpszen-aside-box .panel-pane a:hover, .front.hpszen-home #content .panel-hpszen-aside-box .panel-pane a:hover {
  text-decoration: underline;
}
/* line 372, ../sass/pages.scss */
.front.hpszen-primary-downsides-boxes #content .panel-hpszen-aside-box .panel-pane .more-link a, .front.hpszen-home #content .panel-hpszen-aside-box .panel-pane .more-link a {
  color: #4d9ca2;
}
/* line 377, ../sass/pages.scss */
.front.hpszen-primary-downsides-boxes #content .panel-hpszen-aside-box .panel-pane.pane-hps-news-panel-pane-front-page-news ul, .front.hpszen-home #content .panel-hpszen-aside-box .panel-pane.pane-hps-news-panel-pane-front-page-news ul {
  list-style-type: none;
}

/* line 391, ../sass/pages.scss */
.page-participate .panel-hpszen-introduction blockquote p:first-child {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-style: italic;
}
/* line 394, ../sass/pages.scss */
.page-participate .panel-hpszen-introduction blockquote p:first-child:before {
  font-style: normal;
}
/* line 401, ../sass/pages.scss */
.page-participate .panel-hpszen-featured {
  background-color: #333333;
}

@media all and (min-width: 48em) {
  /* line 411, ../sass/pages.scss */
  #header .section {
    padding-top: 1.5em;
  }
  /* line 413, ../sass/pages.scss */
  #header .section .region-header {
    margin-top: 3em;
  }

  /* line 418, ../sass/pages.scss */
  #name-and-slogan h1#site-name {
    line-height: 1.2em;
  }
  /* line 421, ../sass/pages.scss */
  #name-and-slogan h2#site-slogan {
    margin-bottom: 1.5em;
  }
}
@media all and (min-width: 64em) {
  /* line 428, ../sass/pages.scss */
  #name-and-slogan h1 {
    line-height: 1.2em;
  }
}
