/* Page and genereral module styles */

/**
 * Font sizes (reference)
 * Based on 13px body (81.3%).
 *
 *  8px = 0.615em          30px = 2.308em          52px = 4em
 *  9px = 0.692em          31px = 2.385em          53px = 4.077em
 * 10px = 0.769em          32px = 2.462em          54px = 4.154em
 * 11px = 0.846em          33px = 2.538em          55px = 4.231em
 * 12px = 0.923em          34px = 2.615em          56px = 4.308em
 * 13px = 1em              35px = 2.692em          57px = 4.385em
 * 14px = 1.077em          36px = 2.769em          58px = 4.462em
 * 15px = 1.154em          37px = 2.846em          59px = 4.538em
 * 16px = 1.231em          38px = 2.923em          60px = 4.615em
 * 17px = 1.308em          39px = 3em              61px = 4.692em
 * 18px = 1.385em          40px = 3.077em          62px = 4.769em
 * 19px = 1.462em          41px = 3.154em          63px = 4.846em
 * 20px = 1.538em          42px = 3.231em          64px = 4.923em
 * 21px = 1.615em          43px = 3.308em          65px = 5em
 * 22px = 1.692em          44px = 3.385em          66px = 5.077em
 * 23px = 1.769em          45px = 3.462em          67px = 5.154em
 * 24px = 1.846em          46px = 3.538em          68px = 5.231em
 * 25px = 1.923em          47px = 3.615em          69px = 5.308em
 * 26px = 2em              48px = 3.692em          70px = 5.385em
 * 27px = 2.077em          49px = 3.769em          71px = 5.462em
 * 28px = 2.154em          50px = 3.846em          72px = 5.538em
 * 29px = 2.231em          51px = 3.923em
 */

.block-inner,
.breadcrumb,
.region-help,
.messages,
#main-content > header,
div#tasks,
#attribution {
    margin-left: 20px;
    margin-right: 17px;
}
#columns {
  background: #fff;
  border: 1px solid #c9d1cc;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  z-index: -3;
  min-height: 500px;
}
.columns-inner {
	padding-top: 20px;
	z-index: -3;
}
#page > header {
  clear: both;
  padding: 20px 0 0;
  z-index: -7;
}
#branding {
  float: left;
  margin: 0 0 90px 165px;
  width: 50%;
}
#logo {
	position: absolute;
	top: -46px;
	right: 247px;
	z-index: -1;
}
#page > header > hgroup {
  line-height: 1.2;
  margin: 0 20px;
}

h1#site-name { /* 48px */
  font-size: 3.0em;
  margin: 0 0 0.2em 0;
  padding: 0;
  z-index: -10000;
  width: 100%;
}
h2#site-slogan {
  font-size: 1.077em;
  margin: 0;
  padding: 0;
}
#site-name {
  font-size: 1.846em;
}
#site-name a    {
  text-decoration: none;
}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}

#site-slogan {
  font-size: 1.077em;
  font-weight: 400;
}
.region-header {
  float: right;
  max-width: 32%;
  clear: none;
}
h1#page-title {
  margin-top: 0;
  font-weight: 600;
  font-size: 2.5em;
}
.in-maintenance h1#page-title {
  padding: 10px;
  margin-top: 0;
}
#content-column,
.region-sidebar-first,
.region-sidebar-second {
  margin-bottom: 20px;
}
.region-content-aside {
  padding-top: 16px;
  border-top: 1px solid #D6D3CC;
  font-size: 12px;
}
.region-tertiary-content {
  padding-bottom: 20px;
  padding-left: 10px;
}

a.feed-icon {
  padding: 10px;
}

/* Footer - the main page footer only */
#page > footer {
  padding: 20px 0 0 0;
}

/* Feed icons */
.feed-icon img {
  padding: 0 10px;
}

/* Search results list. */
.search-results {
  margin: 0;
}
.search-results .search-result {}
.search-results .title {
  font-size: 1.154em;
}
.search-results .search-snippet-info {
  padding: 0;
}
.search-results p {
  margin: 0;
}
.search-results .search-snippet {}
.search-results .search-info {
  font-size: .923em;
}

/* Maintenance page */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}
.maintenance-page footer {
  margin: 10px 0 0;
}
.maintenance-page footer a {
  text-decoration: none;
  color: #ccc;
}
div.messages {
  margin: 5px 20px;
}

/* Override max-width 100% for Gmaps and Getlocations modules */
.gmap img,
.view-gmap img,
#getlocations_map_canvas img {
  max-width: none;
}

/* Collapsible region */
.js .region-collapsible,
.collapsible-toggle {
  display: none;
}
.region-collapsible-wrapper {
  display: none;
}
.toggle-active .region-collapsible-wrapper {
  display: block;
}
.section-collapsible,
.region-highlighted {
    background: #fff;
    padding: 1em 0;
}
.js .section-collapsible {
  bottom: 0;
  height: 50%;
  height: auto !important;
  max-height: 50%;
  position: fixed;
  right: 0;
  z-index: 100;
}
.section-collapsible.toggle-active {
  overflow: auto;
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.5);
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
}
.region-collapsible {
  padding: 15px 30px 15px 15px;
  overflow: hidden;
}
.region-collapsible  .block {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.js .collapsible-toggle {
  border: none;
  display: block;
  font-size: 1.077em;
  font-weight: 500;
  margin: 0;
  position: relative;
  text-transform: uppercase;
}
.collapsible-toggle a,
.collapsible-toggle a:visited {
  background: #fff url(images/black.png) no-repeat 16px -248px;
  bottom: 0;
  display: inline-block;
  height: 20px;
  padding: 1em;
  position: fixed;
  right: 0;
  text-indent: -999em;
  width: 20px;
  z-index: 1;
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
  -moz-box-shadow: 0 0 12px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.5);
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
}
.toggle-active .collapsible-toggle a {
  background-position: 16px -390px;
  position: relative;
  float: right;
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.collapsible-toggle a:hover,
.collapsible-toggle a:focus,
.collapsible-toggle a:active {
  background-image: url(images/gray.png);
  outline: 0;
}
.link { background-position: 0 0; }
.locked { background-position: 0 -66px; }
.minus { background-position: 0 -132px; }
.plus { background-position: 0 -198px; }
.popout { background-position: 0 -264px; }
.search { background-position: 0 -330px; }
.x { background-position: 0 -396px;}

@media only screen and (min-width:1025px) {
.two-sidebars .content-inner {margin-left: 180px; margin-right: 180px;}
.sidebar-first .content-inner {margin-left: 180px; margin-right: 0;}
.sidebar-second .content-inner {margin-right: 180px; margin-left: 0;}
.region-sidebar-first {width: 180px; margin-left: -100%;}
.region-sidebar-second {width: 180px; margin-left: -180px; clear: none;}
.container {width: 960px; z-index: 500}
}

h1#site-name a, h1#site-name a:visited {
	font-weight: bold;
}
/**
 * Views Slideshow Xtra Example CSS.
 */

#views-slideshow-xtra-overlay--views-slideshow-xtra-example-attachment-1 {
	z-index: 51;
}

#views-slideshow-xtra-overlay--views-slideshow-xtra-example--attachment-1 .views-slideshow-xtra-overlay-row a,
#views-slideshow-xtra-overlay--views-slideshow-xtra-example--attachment-1 .views-slideshow-xtra-overlay-row a:link,
#views-slideshow-xtra-overlay--views-slideshow-xtra-example--attachment-1 .views-slideshow-xtra-overlay-row a:visited
{
	margin-top: 10px;
  margin-left: 10px;
  color: #333;
  font-size: 12px;
  text-decoration: underline;
}

#views-slideshow-xtra-overlay--views-slideshow-xtra-example--attachment-2 .views-slideshow-xtra-overlay-row, #views-slideshow-xtra-overlay--views-slideshow-xtra-example--attachment-2 .views-slideshow-xtra-overlay-row-1, #views-slideshow-xtra-overlay--views-slideshow-xtra-example--attachment-2 .views-slideshow-xtra-overlay-row-2 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
  margin: 0 10px;
  padding: 17px 0 14px 0;
  background: none;
  border: none;
  width: 500px;
  font-weight: 500;
}

.views-slideshow-xtra-overlay {
  background: #006d71;
  border-radius: 0 0 3px 3px;
  position: absolute;
  z-index: 100;
  top: 395px;
  right: -1px;
  width: 525px;
  height: 180px;
  border-left: 1px solid #c9d1cc;
  border-right: 1px solid #c9d1cc;
  border-bottom: 1px solid #c9d1cc;  
}
div.views-field.views-field-title {
  font-family: Garamond, Perpetua, "Times New Roman", serif;
  font-weight: 600;
}
div.views-field.views-field-body {
  font-size: 13px;
  text-transform: none;
  font-weight: bold;
  color: #ffffff;
  margin: 13px 0px;
  padding: 15px 5px 0 0;
  line-height: 18px;
  width: 500px;
  border-top: 1px solid #c9d1cc;
  max-height: 167px;
  text-shadow: none;
  font-weight: normal;
  font-family: Gill Sans / Gill Sans MT, sans-serif !important;
}

div.skin-default {
  border: 1px solid #c9d1cc;
  border-radius: 3px 3px 0 0;
  position: relative;
  width: 525px;
}

/* override panel css */
.panel-2col-bricks .panel-col-last {
	float: right;
	width: 42%;
}
div.panel-pane.pane-custom.pane-1 h2.pane-title {
  font-size: 2em;
  color: #000;
  margin-top: -2px;
  border-bottom: 1px solid;
  width: 250px;
}
div.panel-pane.pane-block.pane-featured-content-1 h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;  
}
div.panel-pane.pane-block.pane-featured-content-1 h1 {
  font-size: 16px;  
}
div.panel-pane.pane-block.pane-views-popular-block {
  border: 1px solid #c9d1cc;
  border-radius: 3px;
  position: relative;
  background-color: #D6D3CC;
  list-style: none;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 18px;
}
div.panel-pane.pane-block.pane-views-popular-block h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 18px;
}
div.panel-pane.pane-block.pane-views-popular-block h1 {
  font-size: 16px;
}
div.panel-pane.pane-block.pane-block-8 a {
  text-transform: uppercase;
  font-family: Garamond, Perpetua, "Times New Roman", serif;
}
div.panels-flexible-row.panels-flexible-row-1-3.panels-flexible-row-last.clearfix {
  margin-top: 10px;
}
.panels-flexible-region-1-center {
  height: 570px;
  margin-bottom: 42px;
  margin-top: -30px;
}
div.featured-content-block-content h1 {
  font-size: 20px;
}
.panels-flexible-row {
  padding: 0 0 15px 0;
  margin: 0;
}
div.panels-flexible-row-last {
  padding-bottom: 0;
}
/* share buttons */
ul.links.inline li.statistics_counter {
  display: none;
}
/*ul.links.inline li.flag-bookmarks.first {
  background-repeat: no-repeat;
  padding-right: 3px;
  white-space: nowrap;
  font-family: Verdana,Helvetica,sans-serif;
  font-size: 12px;
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
a.flag.flag-action.flag-link-toggle.flag-processed {
  background-repeat: repeat-x;
  border: 1px solid #BFBFBF;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  height: 16px;
  background: #D5D5D5;
  background: -moz-linear-gradient(top,#D5D5D5 0,#EFEFEF 48%,white 94%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D5D5D5),color-stop(48%,#EFEFEF),color-stop(94%,white));
  filter: progid:DXImageTransform.Microso
}
a.flag.unflag-action.flag-link-toggle.flag-processed {
  background-repeat: repeat-x;
  border: 1px solid #BFBFBF;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  height: 16px;
  background: #D5D5D5;
  background: -moz-linear-gradient(top,#D5D5D5 0,#EFEFEF 48%,white 94%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#D5D5D5),color-stop(48%,#EFEFEF),color-stop(94%,white));
  filter: progid:DXImageTransform.Microso
}*/

div#block-block-3.block.block-block.block-odd.block-count-3.block-region-header {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 165px;
}
div#block-block-3.block.block-block.block-odd.block-count-5.block-region-header {
  position: absolute;
  top: 55px;
  right: 0px;
  width: 109px;
}
.article ul.links li a {
  background-repeat: repeat-x;
  border: 1px solid #BFBFBF;
  padding: 4px 4px 8px 4px !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  height: 16px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ebeae6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ebeae6;
	box-shadow:inset 0px 1px 0px 0px #ebeae6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e8e5df), color-stop(1, #ccc8be) );
	background:-moz-linear-gradient( center top, #e8e5df 5%, #ccc8be 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e5df', endColorstr='#ccc8be');
	background-color:#e8e5df;
	border:1px solid #D6D3CC;
	display:inline-block;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.article ul.links li a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc8be), color-stop(1, #e8e5df) );
	background:-moz-linear-gradient( center top, #ccc8be 5%, #e8e5df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc8be', endColorstr='#e8e5df');
	background-color:#ccc8be;
}
.classname {
  background-repeat: repeat-x;
  border: 1px solid #BFBFBF;
  padding: 4px 4px 8px 4px !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  height: 16px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ebeae6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ebeae6;
	box-shadow:inset 0px 1px 0px 0px #ebeae6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e8e5df), color-stop(1, #ccc8be) );
	background:-moz-linear-gradient( center top, #e8e5df 5%, #ccc8be 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e5df', endColorstr='#ccc8be');
	background-color:#e8e5df;
	border:1px solid #D6D3CC;
	display:inline-block;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	float: right;
  margin-left: 5px;
  margin-top: 3px;
  text-decoration: none;
  text-transform: none;
  font-family: arial;
  font-size: 11px;
  color: #100100;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc8be), color-stop(1, #e8e5df) );
	background:-moz-linear-gradient( center top, #ccc8be 5%, #e8e5df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc8be', endColorstr='#e8e5df');
	background-color:#ccc8be;
  color: #100100;
}

span.flag-message.flag-unflagged-message,
span.flag-message.flag-flagged-message {
  display: none !important;
}

h2#site-slogan {
  text-shadow: 1px 1px 2px white;
  font-size: 17px;
  margin-bottom: 3px;
  margin-top: 15px;
  color: #733922;
  position: absolute;
  top: 56px;
  width: 370px;
  right: 298px;
  font-style: italic;
  font-weight: 600;
  font-family: Georgia,Serif !important;
}
h2 {
  color: #733922;
  font-weight: 600;
}  
  
.panels-flexible-region-1-center {
  float: right;
  width: 37%;
  margin-right: 20px;
}

div.inside.panels-flexible-region-inside.panels-flexible-region-1-center-inside.panels-flexible-region-inside div.pane-content {
  float: left;
  height: 171px;
  width: 334px;
  padding: 6px 15px 2px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: -18px;
  margin-top: 17px;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EBEAE6), color-stop(1, #c9d1cc) );
  background: -moz-linear-gradient( center top, #EBEAE6 5%, #c9d1cc 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EBEAE6', endColorstr='#c9d1cc');
  background-color: #EBEAE6;
  border: 1px solid #c0c0bb;
  display: inline-block;
  text-decoration: none;  
}
.comment header h3 a, h1.article-title a, h1 {
  color: #733922 !important;
  font-family: Garamond, Perpetua, "Times New Roman", serif;
}
/* slideshow controls */
#views_slideshow_controls_text_views_slideshow_xtra_example-block_1 {
	position: absolute;
	z-index: 100;
  top: 330px;
  right: -75px;
	width: 215px;
	padding-top: 20px;
	padding-bottom: 15px;
}
#views_slideshow_controls_text_previous_views_slideshow_xtra_example-block_1 a {
	padding-left: 15px;
	color: white;
	text-indent: 100%;
	overflow: hidden;
	display: block;
	width: 30px;
	height: 53px;
	background: url(/sites/all/themes/history/css/images/prev.png) no-repeat center 26px;
	float: left;
	margin-top: -30px;
	margin-right: 30px
}
#views_slideshow_controls_text_pause_views_slideshow_xtra_example-block_1 a {
	color: white;
	text-indent: 100%;
	word-spacing: nowrap;
	overflow: hidden;
	display: block;
	width: 19px;
	height: 64px;
	background: url(/sites/all/themes/history/css/images/pause.png) no-repeat center 26px;
	float: left;
	margin-top: -30px;
	margin-left: -20px;
}
#views_slideshow_controls_text_next_views_slideshow_xtra_example-block_1 a {
	color: white;
	text-indent: 100%;
	word-spacing: nowrap;
	overflow: hidden;
	display: block;
	width: 30px;
	height: 62px;
	background: url(/sites/all/themes/history/css/images/next.png) no-repeat center 26px;
	float: left;
	margin-top: -30px;
	margin-left: 16px;
}
/* featured blocks on FP panel page */
div.more-link.featured-content-more-link {
  margin-top: 5px;
}
div.featured-content-block-content {
  margin-top: -1em;
}
ul.featured-content-block-content li a, ul.featured-content-block-content li a:visited {
  color:#000;
}
ul.featured-content-block-content li a:hover, ul.featured-content-block-content li a:focus {
  color:#733922;
}
div.featured-content-block-content li.node-readmore.first a {
  display: none;
}
div.featured-content-block-content article > header {
  display: none;
}
div.featured-content-block-header p{
  color: #733922;
  font-weight: 700;
  font-size: 1.8em;
  font-family: Garamond, Perpetua, "Times New Roman", serif;
  padding-top: 10px;
  margin-bottom: 10px;
}
div.featured-content-block-content {
  max-height: 115px;
  min-height: 115px;
  overflow: hidden;
}
ul.featured-content-block-content {
  max-height: 100px;
  min-height: 100px;
}
ul.featured-content-block-content {
  margin: 0 0 0 1em;
}
div.featured-content-block-content img {
  border: none;
}
/* lexicon CSS */
abbr.lexicon-indicator,
acronym.lexicon-indicator,
sup.lexicon-indicator,
span.lexicon-indicator,
a.lexicon-indicator,
a.lexicon-icon,
dfn.lexicon-indicator,
img.lexicon-indicator {
  cursor: help;
}
span.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: help;
}

a.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted #152C93;
  color: #152C93;
  cursor: help;
}
.lexicon-links {
  text-align: center;
  background-color: #eeeeff;
  color: #888888;
}
.lexicon-links a {
  font-size: 140%;
  text-transform: uppercase;
}
.lexicon-extralinks a{
  background-color: #cccccc;
  font-size: 0.6em;
}
div.skin-default a.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  color: #fff;
  cursor: help;
}
body {
  background-image: url(images/footer_bar.png), url(images/MBL_hist_background.png);
  background-repeat: repeat-x, no-repeat;
  background-position: bottom left, top left;
}

div.view-id-taxonomy_term article.article-dspace-item nav,
body.page-search article.article-dspace-item nav {
  display: none;
}
