//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//


//
// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// Zen does not require special handling for IE8 or later. But Compass uses that
// variable for a couple edge cases. We include it for completeness sake. See
// the documentation at http://compass-style.org/reference/compass/support/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

// The base font size used for ease of calculation when adjusting font size.
// Similarly, line-height determines the basic unit of vertical rhythm.
// Should match base theme unless you're totally overriding responsive layouts.
// @see hpszen-increase-base-font-sizes()
$base-font-size:   10px;
$base-line-height: 1.5 * $base-font-size;
$h1-font-size: 15px;
$h2-font-size: 13px;
$h3-font-size: 11px;
$h4-font-size: 10px;
$h5-font-size: 10px;
$h6-font-size: 10px;


$neue:            "Helvetica Neue", Arial, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$lucida-grande:   "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $neue;
$font-headings:    $lucida-grande;
$font-menus:       $lucida-grande;
$font-buttons:     $lucida-grande;
$font-monospace:   $courier;
$font-fancy:       $lucida-grande;

// Variables for default colors, shadows etc.
$dark-teal:  #1d6d72;
$teal:       #4d9ca2;
$light-teal: #bbd3d4;

$dark-grey:  #333333;
$grey:       #666666;
$off-white:  #efefef;

$base-color-neutral1: white;
$base-color-neutral2: $off-white;
$base-color-neutral3: $grey;
$base-color-neutral4: $teal;
$base-color-accent1:  $dark-teal;
$base-color-accent2:  $dark-grey;
$base-color-accent3:  $light-teal;
$base-color-text:     black;
$base-color-text2:    $grey;
$base-color-heading:  black;
$base-color-link:     $teal;
$base-color-button:   $dark-teal;

$background-color-body:         $base-color-neutral1;
$background-color-content:      $base-color-neutral1;
$background-color-tr-alternate: rgba($base-color-neutral2, 0.2);
$background-color-header:       $base-color-neutral4;
$background-color-footer:       $base-color-neutral3;
$background-color-navigation:   $base-color-accent1;

$link-color-visited1: #887f7a;
$link-color-visited2: $off-white;

$default-text-shadow-color:          rgba(black, 0.5);
$default-text-shadow-h-offset:       1px;
$default-text-shadow-v-offset:       1px;
$default-text-shadow-blur:           1px;
$default-text-shadow-spread:         false;

$default-border-radius:              2px;

$default-box-shadow-color:           rgba(black, 0.5);
$default-box-shadow-h-offset:        2px; // Positive is to the right.
$default-box-shadow-v-offset:        2px; // Positive is down.
$default-box-shadow-blur:            5px;
$default-box-shadow-spread:          false;
$default-box-shadow-inset:           false;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 1em;

// Default Zen Grids settings, mobile first.
$zen-column-count:  12;
$zen-gutter-width:  $base-line-height * 2;
// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;
// More efficient if we set item-base manually.
$zen-auto-include-item-base: false;
$zen-auto-include-flow-item-base: false;


//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/lists/inline-list";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";
@import "zen";              // Add the Zen Grids responsive layout mixins.

@import "custom";           // Import our custom mixins last.
