/**
 * @file
 * Form Styling
 */

@import "base";

input {
  &[type="text"],
  &[type="password"] {
    @include hpszen-input();
  }
  &[type="submit"] {
    //@include hpszen-button();
  }
}

form {
  .description {
    @include hpszen-adjust-font-size-and-rhythm(0.9);
    @include margin-leader(0.3);
  }
}
.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  @include margin-leader(1);
  @include margin-trailer(1);

  input.error,
  textarea.error,
  select.error { /* Highlight the form elements that caused a form submission error */
    //border: 1px solid $base-color-accent4;
  }

  label { /* The label for a form element */
    display: block;
    font-weight: bold;
  }

  label.option { /* The label for a radio button or checkbox */
    display: inline;
    font-weight: normal;
  }

  .form-required { /* The part of the label that indicates a required field */
    //color: $base-color-accent4;
  }

  .form-checkboxes & ,
  .form-radios & { /* Pack groups of checkboxes and radio buttons closer together */
    margin: 0; /* Drupal core uses "0.4em 0" */
  }
}

.form-submit { /* The submit button */
}

.form-actions {
  .form-submit {
    margin-right: rhythm(0.5);
  }
}

.container-inline {
  div,
  label { /* Inline labels and form divs */
    display: inline;
  }
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  @include appearance(button);
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

#user-login ul {
  @include margin-leader(1.5);
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }

  tbody {
    border-top: 1px solid #ccc;
  }

  tr.even {
    background-color: #fff;
  }

  table .item-list ul {
    margin: 0;
  }
}

@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
    }
  }
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

// Override defaults
#header {
  input[type="submit"] {
    //@include hpszen-button($dark-grey - #111111, $to: $dark-grey);
  }
}
