/**
 * @file
 * Navigation styles.
 */

// @note This file is intended for colors, and font styles etc, not layout.
// @see layouts/responsive.scss

@import "base";

#navigation {
  // @note #main-menu is turned off so we can have expanded menu items using #block-system-main-menu.
  background-color: $background-color-navigation;
  font-family: $lucida-grande;
  color: white;
  a {
    text-decoration: none;
    &:link {
      color: white;
    }
    &:visited {
      color: $link-color-visited2;
    }
    &:hover,
    &:active {
      text-decoration: underline;
    }
    &.active-trail {
      background-color: $base-color-neutral2;
      color: $base-color-link;
    }
  }
  h2 {
    @include hide-text();
    a {
      height: icons-small-sprite-height(hamburger);
      width: icons-small-sprite-width(hamburger);
      @include icons-small-sprite(hamburger);
    }
  }
  li {
    list-style: none;
  }
}
#secondary-menu {
  a {
    color: white;
    &:visited {
      color: $link-color-visited2;
    }
  }
}
