/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

body {
  margin: 0;
  padding: 0;
  // Use .html class to avoid conflict with CK Editor body
  &.html {
    margin: 0;
    padding: 0;
  }
  @include hpszen-color($color-neutral1);
}

// Defaults
h1,
h2,
h3,
h4 {
  font-family: $font-headings;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}
.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
}
blockquote {
  p {
    &:first-child {
      font-family: $font-fancy;
      font-style: italic;
      &:before {
        font-style: normal;
      }
    }
  }
}
// Override Drupal system theme
tr.even {
  background-color: darken(white, 2%);
  border-color: darken(white, 5%);
}
tr.odd {
  background-color: white;
  border-color: darken(white, 5%);
}
thead {
  border-bottom: 2px solid darken(white, 10%);
}
th {
  padding: rhythm(0.5);
  img {
    vertical-align: middle;
    padding-left: rhythm(0.2);
  }
}
td {
  vertical-align: top;
  padding: rhythm(0.5);
  @include adjust-leading-to(1);
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

.node ul {
  @include adjust-leading-to(1);
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}
a.lexicon-term {
  text-decoration: none;
  border-bottom: 1px dotted black;
}
.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}
.print_html,
.print_mail,
.print_pdf {
  display: block;
  float: left;
  padding-right: rhythm(1);
  @include leader(2);
  @include trailer(1);
  @include adjust-font-size-to(0.9 * $base-font-size);
  @include adjust-leading-to(2);
  margin-left: 0;
  a {
  }
}

#header {
  @include hpszen-color($color-accent1);
  .section {
    background: transparent url('../images/seal.png') no-repeat 0 40%;
  }
}
#logo {
  display: block;
  max-width: rhythm(17);
  img {
     max-width: 100%;
  }
}
.with-logo {
  #site-name {
    @include element-invisible;
  }
}
// Header: positioning child elements
#name-and-slogan {
  h1#site-name {
    a:link,
    a:visited {
      text-decoration: none;
      color: #fff;
    }
    a:hover,
    a:focus {
      text-decoration: underline;
      color: #fff;
    }
    font-weight: normal;
    span {
      > span {
        &:first-of-type {
          font-size: 0.7em;
          font-style: italic;
        }
        &:last-of-type {
          display: block;
        }
      }
    }
  }
  h2#site-slogan {
    font-style: $base-font-family;
    @include adjust-font-size-to(1 * $base-font-size);
    @include adjust-leading-to(1);
    font-weight: normal;
  }
}

#secondary-menu {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  .block-menu .block-title,
  .block-menu-block .block-title {
    @include element-invisible;
  }
  ul {
    @include delimited-list('|');
    @include adjust-leading-to(3);
    a {
      padding: rhythm(1);
    }
  }
}
#content-header,
#introduction {
  @include hpszen-color($color-neutral2);
}
#featured {
  @include hpszen-color($color-accent3);
}
#results {
  #panel-hpszen-r1 {
    .pane-views-exposed {
      @include hpszen-color($color-accent3);
    }
  }
}

#bottom {
  @include hpszen-color($color-neutral2);
  li {
    list-style-type: none;
  }
}

#footer {
  @include hpszen-color($color-neutral4);
  li {
    list-style-type: none;
  }
  #block-menu-menu-hps-tertiary {
    font-family: $font-menus;
    border-bottom: 1px dotted $off-white;
  }
  .block {
    &:last-child {
      address {
        font-style: normal;
      }
    }
  }
}
// Search results. Browse by listings.
.page-hps-search,
.pane-hps-browse-panel-pane-list {
  .views-row {
    h2 {
      clear: both;
      @include padding-leader(2);
      border-bottom: 1px solid $grey;
      @include trailer(0.5);
    }
    &.views-row-first {
      h2 {
        @include padding-leader(0.5);
      }
    }
  }
}

.pane-hps-browse-panel-pane-index {
  td {
    &:nth-child(2),
    &:nth-child(4) {
      width: 12%;
    }
    &:nth-child(5) {
      width: 15%
    }
  }
}
.pane-hps-browse-panel-pane-gallery {
  h2 {
    @include adjust-font-size-to(1.2 * $base-font-size);
    @include adjust-leading-to(1);
  }
  .field-dspace-bitstream-url {
    width: 100%;
  }
}


// Override default styles for different sections
.page-mblhistory-home {
  #panel-hpszen-b2 {
    li {
      > span {
        color: darken(white, 20%);
      }
    }
  }
}

.page-hps-archives {
  #featured {
    @include hpszen-color($color-accent4);
  }
}


// Override default styles for wider screens.
// @todo move layout styles to responsive.scss
@media all and (min-width: 1em / 16 * 768) {
  #header .section {
    padding-top: rhythm(1);
    .region-header {
      margin-top: rhythm(2);
    }
  }
  #name-and-slogan {
    h1#site-name {
      @include adjust-leading-to(0.8);
    }
    h2#site-slogan {
      @include trailer(1);
    }
  }
}
@media all and (min-width: 1em / 16 * 1024) {
  #name-and-slogan {
    h1 {
      @include adjust-leading-to(0.8);
    }
  }
}

