/**
 * @file
 * HPS Zen theme's slideshow styles.
 */

@import "base";

// @note Assumes .slides and .slide classes have been added to HTML list display settings on a View.
//       Assumes slide image is wrapped in span @see hpszen-responsive image styles.
//       When Javascript is disabled we render default View HTML list.
//       With Javascript enabled we make a slideshow.
//       Assumes using slideshow in content area.
// @see Drupal.behaviors.hpszen
// @see templates/node--hps-featured-content.tpl.php

// @todo Investigate auto zoom and pan for larger slides

@mixin slide-vertical-rhythm($slide-lines: 36, $image-lines: 10, $pager-lines: 0, $clear: false) {
  .cycling {
    ul.slides {
      > li {
        height: rhythm($slide-lines);
        > span {
          // Override default width from hpzen-responsive image styles
          width: 100%;
          display: block;
          height: rhythm($image-lines);
          //@include padding-trailer($pager-lines);
        }
      }
    }
    .pager {
      top: rhythm($image-lines);
    }
    .nav {
      top: rhythm($image-lines - 2);
    }
    @if $clear {
      &:after {
        height: rhythm($slide-lines);
      }
    }
  }
}

.cycling { /* jQuery cycle is enabled. */
  position: relative;
  ul.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      text-align: center;
      background: $base-color-accent1;
      color: white;
      width: 100% !important;
      a,
      a.lexicon-term {
        color: white;
        border-color: white;
      }
      > span {
        background-color: white;
        // Fake crop for responsive images.
        max-height: 1em / 12 * 400;
        overflow: hidden;
        img {
          margin: 0 auto;
        }
      }
      // For single column add gutter to slide contents (since we are forcing slide image to stretch across gutter
      > h2, p {
        color: white;
        text-align: left;
        margin-left: $zen-gutter-width / 2;
        margin-right: $zen-gutter-width / 2;
      }
      > h2 {
        @include adjust-font-size-to(1.7 * $base-font-size);
        font-weight: normal;
        @include trailing-border(1px, 0);
        border-color: white;
      }
      > p {
        @include adjust-leading-to(1.2);
      }
      > a {
        position: absolute;
        right: $zen-gutter-width / 2;
        bottom: $zen-gutter-width / 2;
        float: right;
        @include hpszen-button();
        @include hpszen-letterpress();
        &:link,
        &:visited,
        &:hover,
        &:focus, {
          color: black;
        }
      }
    }
  }
  .pager {
    position: absolute;
    width: 100%;
    background: rgba(black, 0.5);
    z-index: 10;
    overflow-x: auto;
    white-space: nowrap;
    > a {
      @include adjust-leading-to(4);
      > img {
        height: rhythm(4);
        margin-right: 2px;
      }
      &.activeSlide > img {
        border-bottom: 4px solid orange;
        margin-top: -4px;
      }
    }
  }
  .nav {
    position: absolute;
    z-index: 10;
    right: 15px;
    a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      &#hpszen-slide-previous {
        background: transparent url('../images/previous.png') no-repeat top left;
      }
      &#hpszen-slides-pause {
        background: transparent url('../images/pause.png') no-repeat top left;
      }
      &#hpszen-slides-resume {
        display: none;
        background: transparent url('../images/resume.png') no-repeat top left;
      }
      &#hpszen-slide-next {
        background: transparent url('../images/next.png') no-repeat top left;
      }
    }
    &.paused {
      a {
        &#hpszen-slides-resume {
          display: block;
        }
        &#hpszen-slides-pause {
          display: none;
        }
      }
    }
  }
  &:after {
    content: "";
    display: block;
    visibility: hidden;
  }
}

// Prevent slides from growing too big
@media all and (min-width: 1em / 16 * 481) and (max-width: 1em / 16 * 1023) {
  .cycling,
  .slides,
  .pager {
    max-width: 1em / 13 * 525;
  }
}
@media all and (min-width: 1em / 16 * 1024) {
  .cycling,
  .slides,
  .pager {
    max-width: 1em / 14 * 525;
  }
}
// Adjust image and slide heights for different screen widths, to avoid gaps between image and text
@include slide-vertical-rhythm();
@media screen and (min-width: 1em / 16 * 315) and (max-width: 1em / 16 * 349) {
  @include slide-vertical-rhythm(27, 11);
}
@media screen and (min-width: 1em / 16 * 345) and (max-width: 1em / 16 * 369) {
  @include slide-vertical-rhythm(27, 12);
}
@media screen and (min-width: 1em / 16 * 370) and (max-width: 1em / 16 * 394) {
  @include slide-vertical-rhythm(27, 13);
}
@media screen and (min-width: 1em / 16 * 395) and (max-width: 1em / 16 * 419) {
  @include slide-vertical-rhythm(28, 14);
}
@media screen and (min-width: 1em / 16 * 420) and (max-width: 1em / 16 * 449) {
  @include slide-vertical-rhythm(28, 15);
}
@media screen and (min-width: 1em / 16 * 450) and (max-width: 1em / 16 * 499) {
  @include slide-vertical-rhythm(28, 16);
}
@media screen and (min-width: 1em / 16 * 500) and (max-width: 1em / 16 * 554) {
  @include slide-vertical-rhythm(29, 17);
}
@media screen and (min-width: 1em / 16 * 555) and (max-width: 1em / 16 * 767) {
  @include slide-vertical-rhythm(31, 19);
}
@media screen and (min-width: 1em / 16 * 768) and (max-width: 1em / 16 * 794) {
  @include slide-vertical-rhythm(28, 15);
}
@media screen and (min-width: 1em / 16 * 795) and (max-width: 1em / 16 * 839) {
  @include slide-vertical-rhythm(28, 16);
}
@media screen and (min-width: 1em / 16 * 840) and (max-width: 1em / 16 * 884) {
  @include slide-vertical-rhythm(29, 17);
}
@media screen and (min-width: 1em / 16 * 885) and (max-width: 1em / 16 * 929) {
  @include slide-vertical-rhythm(30, 18);
}
@media screen and (min-width: 1em / 16 * 930) and (max-width: 1em / 16 * 1023) {
  @include slide-vertical-rhythm(31, 19);
}
@media screen and (min-width: 1em / 16 * 1024) {
  @include slide-vertical-rhythm(30, 18);
}
