// Re-define SASS variables required for development
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

$base-font-size:   10px;
$base-line-height: 1.5 * $base-font-size;
// @see mblhistory/sass/_base.scss
$zen-column-count:  12;
$zen-gutter-width:  $base-line-height * 4;
$hpszen-max-content-width:  1000; // 1000px

@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "compass/typography/lists/inline-list";
@import "zen";              // Add the Zen Grids responsive layout mixins.
