/**
 * @file
 * minimize.scss
 *
 * Style overrides for MBL History theme to minimize branding.
 */

@import "base";

.toolbar #header .section {
  @include padding-leader();
}
#header {
  .section {
    padding-top: 0;
    @include padding-trailer(0.5);
    // @todo swap out logo image for smaller or higher resolution sizes
    //       at different screen widths to ensure text readability.
    #logo {
      @include margin-leader(0.5);
      max-width: 100%;
    }
  }
}

#footer {
  .section {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
  }
  ul.menu {
    @include adjust-leading-to(1);
    a {
      @include padding-leader(0.5);
      @include padding-trailer(0.4);
    }
  }
  .block {
    &.block-menu {
      @include padding-trailer(0.4);
    }
    &:last-child {
      margin: 0;
      @include adjust-leading-to(1);
    }
  }
}
.pane-node-book-menu,
.pane-hps-exhibits-panel-pane-exhibit-information-menu {
  ul {
    list-style-type: none;
    padding-left: 0;
    ul {
      padding-left: rhythm(1);
    }
  }
  a {
    display: inline-block;
    padding: rhythm(0.1) rhythm(0.5);
    border: none;
    &.active {
      text-decoration: none;
      border: 1px dashed black;
    }
  }
}
@media all and (min-width: 1em / 16 * 768) {
  // Make information page menu horizontal in wider screens
  .pane-hps-exhibits-panel-pane-exhibit-information-menu {
    ul {
      @include delimited-list('|');
      @include adjust-leading-to(3);
      a {
        display: inline-block;
        padding: rhythm(0.5);
        &:first {
          padding-left: 0;
        }
        &:last {
          padding-right: 0;
        }
      }
    }
  }
  #footer {
    .block {
      &.block-menu {
        padding: 0;
      }
      &:nth-child(2n+1) {
        @include zen-grid-item(4, 1, right);
        text-align: right;
      }
      &:nth-child(2n) {
        @include zen-grid-item(8, 5, right);
        clear: none;
      }
    }
  }
}
