@import "init";
@import "hipos/micro/layout";

// Exhibit home page
@media all and (min-width: 1em / 16 * 768) {
  .node-type-hps-exhibit {
    #basic__one {
      @include zen-grid-item(7, 1, right);
    }
    #basic__two {
      @include zen-grid-item(5, 8, right);
    }
  }
}
@media all and (min-width: 1em / 16 * 1500) {
  .node-type-hps-exhibit {
    #basic__two {
      @include zen-grid-item(4, 8, right);
      padding-right: $zen-gutter-width;
    }
  }
}
@media all and (min-width: 1em / 16 * 1900) {
  .node-type-hps-exhibit {
    #basic__two {
      padding-right: $zen-gutter-width * 2;
    }
  }
}
// Information pages
// ????

// Narrative pages
.node-type-hps-exhibit-narrative {
  #basic__one {
    @include zen-nested-container;
  }
  #basic__three {
    @include zen-nested-container;
  }
}
@media all and (min-width: 1em / 16 * 768) and (max-width: 1em / 16 * 849) {
  .node-type-hps-exhibit-narrative {
    #basic__two {
      @include zen-grid-item(7, 1);
      padding-right: $zen-gutter-width;
    }
    #basic__three {
      @include zen-grid-item(5, 8);
      clear: none;
    }
  }
}
@media all and (min-width: 1em / 16 * 850) and (max-width: 1em / 16 * 1279) {
  .node-type-hps-exhibit-narrative {
    #basic__one {
      @include zen-grid-item(3, 1);
      .fixedsticky-on {
        width: zen-grid-item-width(3);
      }
    }
    #basic__two {
      @include zen-grid-item(6, 4);
      clear: none;
    }
    #basic__three {
      @include zen-grid-item(3, 10);
      clear: none;
    }
  }
}
@media all and (min-width: 1em / 16 * 1280) and (max-width: 1em / 16 * 1499) {
  .node-type-hps-exhibit-narrative {
    #basic__one {
      @include zen-grid-item(3, 1);
      .fixedsticky-on {
        width: zen-grid-item-width(3);
      }
    }
    #basic__two {
      @include zen-grid-item(5, 4);
      clear: none;
    }
    #basic__three {
      @include zen-grid-item(4, 9);
      clear: none;
    }
  }
}
@media all and (min-width: 1em / 16 * 1500) {
  .node-type-hps-exhibit-narrative {
    #basic__one {
      @include zen-grid-item(2, 1);
      .fixedsticky-on {
        width: zen-grid-item-width(2);
      }
    }
    #basic__two {
      @include zen-grid-item(4, 3);
      clear: none;
    }
    #basic__three {
      @include zen-grid-item(2, 11);
      clear: none;
    }
  }

}
@media all and (min-width: 1em / 16 * 2200) {
  .node-type-hps-exhibit-narrative {
    #basic__two {
      padding-right: $zen-gutter-width * 2;
    }
  }
}

