@import "init";
@import "hipos/micro/layout";

// @todo also reflow content at smaller breakpoints to address long lines.
.node-type-hps-exhibit-narrative {
  #basic__three {
    @include zen-nested-container;
  }
}
@media all and (min-width: 1em / 16 * 768) {
  .hpszen-b2 {
    #basic__one {
      @include zen-grid-item(8, 1, right);
    }
    #basic__two {
      @include zen-grid-item(4, 9, right);
    }
  }
  .hpszen-i1-b2 {
    #basic__one {
      @include zen-grid-item(4, 1);
    }
    #basic__two {
      @include zen-grid-item(8, 5);
      clear: none;
    }
  }
  .hpszen-b3,
  .hpszen-i1-b3 {
    #basic__one {
      @include zen-grid-item(3, 1);
    }
    #basic__two {
      @include zen-grid-item(6, 4);
      clear: none;
    }
    #basic__three {
      @include zen-grid-item(3, 10);
      clear: none;
    }
  }
  .node-type-hps-exhibit-narrative {
    #basic__two {
      padding-right: $zen-gutter-width;
    }
  }
}
@media all and (min-width: 1em / 16 * 1280) {
  .hpszen-b3,
  .hpszen-i1-b3 {
    #basic__one {
      @include zen-grid-item(3, 1);
    }
    #basic__two {
      @include zen-grid-item(5, 4);
    }
    #basic__three {
      @include zen-grid-item(4, 9);
    }
  }
}
@media all and (min-width: 1em / 16 * 1500) {
  .hpszen-b3,
  .hpszen-i1-b3 {
    #basic__one {
      @include zen-grid-item(2, 1);
    }
    #basic__two {
      @include zen-grid-item(4, 3);
    }
    #basic__three {
      @include zen-grid-item(2, 11);
    }
  }

}

@media all and (min-width: 1em / 16 * 2200) {
  .hpszen-b3,
  .hpszen-i1-b3 {
    #basic__two {
      padding-right: $zen-gutter-width * 2;
    }
  }

}

