@import "init";
@import "hipos/micro/modules";

.header__site-name {
  font-weight: normal;
  span {
    span:nth-of-type(1) {
      font-style: italic;
    }
  }
}

.node-type-hps-exhibit .pane-node-title h1 {
  @include hipos-adjust-font-size-and-rhythm(3);
  font-weight: normal;
}

@media all and (min-width: 1em / 16 * 768) {
  .pane-node-field-hps-exhibit-banner {
    .hpszen-responsive {
      &.hps-principal {
        width: auto;
      }
    }
  }
}

// Narrative navigation styles all pages
.pane-node-book-menu {
  h2 {
    @include element-invisible;
  }
  ul {
    @include hipos-menu-list;
  }
  li a {
    display: block;
  }
}

// Navigation on narrative pages
.node-type-hps-exhibit-narrative {
  .pane-node-book-nav {
    @include zen-grid-item-base;
    @include zen-grid-item(12, 1);
    @include zen-nested-container;
    @include margin-trailer();
    .page-previous,
    .page-next {
      @include zen-grid-item-base;
      text-decoration: none;
    }
    .page-previous {
      @include zen-grid-item(2, 9);
    }
    .page-next {
      @include zen-grid-item(2, 11);
    }
    .page-previous,
    .page-next {
      padding-left: round($zen-gutter-width * 0.5);
      padding-right: round($zen-gutter-width * 0.5);
    }
    .text,
    .text {
      @include element-invisible;
    }
  }
  .pane-node-book-menu {
    margin: 0;
    ul {
      @include zen-clear;
    }
    h2 a,
    li a {
      text-decoration: none;
      padding-left: round($zen-gutter-width * 0.5);
      padding-right: round($zen-gutter-width * 0.5);
    }
    li li {
      border-bottom: none;
      a {
        padding-left: rhythm(2);
      }
    }
  }
}
@media all and (max-width: 1em / 16 * 320) {
  .node-type-hps-exhibit-narrative {
    .pane-node-book-nav .page-previous,
    .pane-node-book-nav .page-next,
    .pane-node-book-menu h2 a,
    .pane-node-book-menu li a {
      padding-left: round($zen-gutter-width * 0.3);
      padding-right: round($zen-gutter-width * 0.3);
    }
  }
}
@media all and (max-width: 1em / 16 * 849) {
  .js .node-type-hps-exhibit-narrative {
    .pane-node-book-menu {
      h2 {
        @include element-invisible-off;
        font-weight: normal;
        @include hipos-adjust-font-size-and-rhythm(1, 0, 0);
        width: zen-grid-item-width(7);
        margin-top: rhythm(0.5);
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 850) {
  .node-type-hps-exhibit-narrative {
    .pane-node-book-nav.fixedsticky {
      top: hipos-px-to-em(100);
      .page-previous,
      .page-next {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .pane-node-book-menu.fixedsticky {
      top: hipos-px-to-em(100);
      padding-top: rhythm(1.5);
    }
  }
}
@media all and (min-width: 1em / 16 * 1920) {
  .node-type-hps-exhibit-narrative {
    .pane-node-book-menu.fixedsticky {
      padding-top: rhythm(2);
    }
  }
}

.pane-hps-exhibits-panel-pane-exhibit-information-menu {
  @include margin-leader(3);
  ul {
    @include hipos-menu-list;
  }
}

.pane-node-prepopulate {
  ul {
    @include hipos-bulletless-list;
  }
}

// Related items
.pane-hps-exhibits-panel-pane-exhibits-related-items {
  position: relative;
  .pane-title {
    font-weight: normal;
    @include hipos-adjust-font-size-and-rhythm(1);
    padding: rhythm(1);
    margin: 0;
  }
  .view-content {
    > ul {
      padding: 0;
      margin: 0;
      @include hipos-bulletless-list;
    }
    > ul > li {
      clear: both;
      padding: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  .item__summary {
    display: block;
    overflow: hidden;
    position: relative;
    span {
      @include zen-grid-item-base;
      padding: 0;
      @include zen-grid-item(2, 1);
      padding: round($zen-gutter-width * 0.3);
      padding-right: 0;
      + h3 {
        @include zen-grid-item-base;
        @include zen-grid-item(10, 3);
        padding: round($zen-gutter-width * 0.3);
      }
    }
    img {
      max-width: 80%;
    }
    h3 {
      padding: rhythm(0.8);
      @include hipos-adjust-font-size-and-rhythm(1);
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .item__detail {
    clear: both;
    padding: 1px 0; // prevent margin collapse
    > a {
      display: block;
      padding: rhythm(0.8);
    }
  }
  .item__detail__story,
  .item__detail__article {
    padding: 0 rhythm(0.8);
    > div {
      @include margin-leader;
      @include margin-trailer;
    }
  }
  .jwplayer--audio.jwplayer--without-image {
    padding-left: rhythm(0.8);
    padding-right: rhythm(0.8);
  }

  li:hover,
  .item--expanded,
  .item__detail {
  }
  .item--expanded {
  }
  .item__detail--hidden {
    @include element-invisible;
  }
  &.tray {
    position: relative;
    .item--expanded {
      .item__detail {
        padding: rhythm(1);
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 100%;
        width: 160%;
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 768) {
  .pane-hps-exhibits-panel-pane-exhibits-related-items {
    .item__summary {
      span {
        @include zen-grid-item(4, 1);
        + h3 {
          @include zen-grid-item(8, 5);
        }
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 1280) {
  .pane-hps-exhibits-panel-pane-exhibits-related-items {
    .item__summary {
      span {
        @include zen-grid-item(3, 1);
        + h3 {
          @include zen-grid-item(9, 4);
        }
      }
    }
  }
}

