@import "init";
@import "hipos/micro/modules";

.header__site-name {
  font-weight: normal;
  span {
    span:nth-of-type(1) {
      font-style: italic;
    }
  }
}

.node-type-hps-exhibit .pane-node-title h1 {
  @include hipos-adjust-font-size-and-rhythm(3);
  font-weight: normal;
}
@media all and (min-width: 1em / 16 * 1681) {
  .pane-node-field-hps-exhibit-banner {
    .hpszen-responsive {
      &.hps-principal {
        width: auto;
      }
    }
  }
}

// Exhibit navigation
.pane-node-book-menu {
  h2 {
    @include element-invisible;
    @include hipos-adjust-font-size-and-rhythm(1, 0, 0);
    line-height: normal;
  }
  li a {
    @include padding-leader(0.7);
    @include padding-trailer(0.7);
  }
}
.pane-node-book-menu,
.pane-node-book-nav,
.pane-node-og-group-ref {
  a {
    display: block;
    text-decoration: none;
  }
}

// Navigation on narrative pages
.node-type-hps-exhibit-narrative {
  .basic__one {
    .panel-pane {
      @include zen-grid-item-base(0);
    }
  }
  .pane-node-book-nav,
  .pane-node-book-menu {
    @include zen-grid-item(12, 1);
  }
  .pane-node-og-group-ref {
    @include zen-grid-item(3, 1);
    a:before {
      padding-left: round($zen-gutter-width * 0.3);
    }
  }
  .page-previous {
    @include zen-grid-item(3, 7);
  }
  .page-next {
    @include zen-grid-item(3, 10);
    padding-right: round($zen-gutter-width * 0.3);
  }
  .pane-node-book-menu {
    h2 a:before {
      padding-left: round($zen-gutter-width * 0.3);
    }
    .pane-content > ul > li > a {
      padding-left: round($zen-gutter-width * 0.3);
      padding-right: round($zen-gutter-width * 0.3);
    }
    ul {
      margin: rhythm(3) 0 0 0;
    }
    li li {
      a {
        padding-left: rhythm(2);
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 321) {
  .node-type-hps-exhibit-narrative {
    .page-next {
      padding-right: round($zen-gutter-width * 0.5);
    }
    .pane-node-og-group-ref {
      a:before {
        padding-left: round($zen-gutter-width * 0.5);
      }
    }
    .pane-node-book-menu {
      h2 a:before {
        padding-left: round($zen-gutter-width * 0.5);
      }
      .pane-content > ul > li > a {
        padding-left: round($zen-gutter-width * 0.5);
        padding-right: round($zen-gutter-width * 0.5);
      }
    }
  }
}

@media all and (max-width: 1em / 16 * 849) {
  .js .node-type-hps-exhibit-narrative {
    .pane-node-og-group-ref {
      @include zen-grid-item(3, 4);
    }
    .pane-node-book-menu {
      h2 {
        @include element-invisible-off;
        font-weight: normal;
        width: zen-grid-item-width(3);
      }
      ul {
        margin-top: 0;
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 850) {
  .node-type-hps-exhibit-narrative {
    .pane-node-book-menu {
      @include zen-clear();
      ul {
        margin-top: 0;
      }
    }
    .pane-node-og-group-ref {
      @include zen-grid-item(3, 1);
    }
  }
}
.pane-hps-exhibits-panel-pane-exhibit-information-menu {
  @include margin-leader(3);
  ul {
    @include hipos-bulletless-list;
  }
}

.pane-node-prepopulate {
  ul {
    @include hipos-bulletless-list;
  }
}

// Related items
.pane-hps-exhibits-panel-pane-exhibits-related-items {
  position: relative;
  .pane-title {
    font-weight: normal;
    @include hipos-adjust-font-size-and-rhythm(1, 0, 0);
    @include adjust-leading-to(2.9);
    padding: 0 rhythm(1);
  }
  .view-content {
    > ul {
      padding: 0;
      margin: 0;
      @include hipos-bulletless-list;
    }
    > ul > li {
      clear: both;
      padding: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  .item__summary {
    display: block;
    overflow: hidden;
    position: relative;
    span {
      @include zen-grid-item-base;
      padding: 0;
      @include zen-grid-item(2, 1);
      padding: round($zen-gutter-width * 0.3);
      padding-right: 0;
      + h3 {
        @include zen-grid-item-base;
        @include zen-grid-item(10, 3);
        padding: round($zen-gutter-width * 0.3);
      }
    }
    img {
      max-width: 80%;
    }
    h3 {
      padding: rhythm(0.8);
      @include hipos-adjust-font-size-and-rhythm(1);
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .item__detail {
    clear: both;
    padding: 1px 0; // prevent margin collapse
    > a {
      display: block;
      padding: rhythm(0.8);
    }
  }
  .item__detail__story,
  .item__detail__article {
    padding: 0 rhythm(0.8);
    > div {
      @include margin-leader;
      @include margin-trailer;
    }
  }
  .jwplayer--audio.jwplayer--without-image {
    padding-left: rhythm(0.8);
    padding-right: rhythm(0.8);
  }
  .item__detail--hidden {
    @include element-invisible;
  }
  &.tray {
    position: relative;
    .item--expanded {
      .item__detail {
        min-height: rhythm(10);
        padding: rhythm(1);
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 100%;
        width: 160%;
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 768) {
  .pane-hps-exhibits-panel-pane-exhibits-related-items {
    .item__summary {
      span {
        @include zen-grid-item(4, 1);
        + h3 {
          @include zen-grid-item(8, 5);
        }
      }
    }
  }
}
@media all and (min-width: 1em / 16 * 1280) {
  .pane-hps-exhibits-panel-pane-exhibits-related-items {
    .item__summary {
      span {
        @include zen-grid-item(3, 1);
        + h3 {
          @include zen-grid-item(9, 4);
        }
      }
    }
  }
}

