@import "init";

@import "hipos/themes/swimlanes";

.header-navigation {
  @include hipos-color($header--colors);
}
.navigation,
.header {
  background-color: transparent;
}
.js .navigation {
  h2 {
    a {
      overflow: hidden; // Required by IE to prevent scrollbars
      &:before {
        font-size: 16px;
      }
    }
  }
}

.pane-node-book-menu li {
  border-bottom: 1px dotted $grey;
}
.node-type-hps-exhibit-narrative {
  .pane-node-book-nav {
    @include hipos-color($aside--colors);
    .page-links {
      border: none;
    }
    .icon,
    .icon {
      @include icomoon-replace-text-with-glyph(false, 16px, inline-block);
      &:before {
        top: rhythm(0.1);
      }
    }
    .page-previous .icon:before {
      content: $icon-previous;
    }
    .page-next .icon:before {
      content: $icon-next;
      margin-left: -20px;
    }
  }
}

.pane-hps-exhibits-panel-pane-exhibits-related-items {
  @include hipos-color($aside--colors);
  .pane-title {
    background-color: lighten(nth($aside--colors, 1), 4%);
  }
  .view-content {
    > ul {
      overflow: hidden;
      > li {
        @include apply-side-rhythm-border(bottom, 1px, 0);
        border-bottom-color: lighten(nth($aside--colors, 1), 4%);
        &.item--expanded {
          border-bottom-color: shade(nth($aside--expanded--colors, 1), 4%);
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .item__summary {
    &:hover {
      background-color: rgba(black, 0.1);
    }
  }
  .item--expanded {
    @include hipos-color($aside--expanded--colors);
    .item__detail {
      background-color: tint(nth($aside--expanded--colors, 1), 60%);
    }
  }
}
