/* line 3, ../sass/minimize.scss */
.toolbar #header .section {
  padding-top: 1.5em;
}

/* line 8, ../sass/minimize.scss */
#header .section {
  padding-top: 0;
  padding-bottom: 0.75em;
}
/* line 11, ../sass/minimize.scss */
#header .section #logo {
  margin-top: 0.75em;
  max-width: 100%;
}

/* line 19, ../sass/minimize.scss */
#footer .section {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
/* line 23, ../sass/minimize.scss */
#footer ul.menu {
  line-height: 1.5em;
}
/* line 25, ../sass/minimize.scss */
#footer ul.menu a {
  padding-top: 0.75em;
  padding-bottom: 0.6em;
}
/* line 31, ../sass/minimize.scss */
#footer .block.block-menu {
  padding-bottom: 0.6em;
}
/* line 34, ../sass/minimize.scss */
#footer .block:last-child {
  margin: 0;
  line-height: 1.5em;
}

/* line 40, ../sass/minimize.scss */
#content {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 44, ../sass/minimize.scss */
#basic {
  background-color: #1a1a1a;
  color: white;
}
/* line 47, ../sass/minimize.scss */
#basic a {
  color: #63b0b6;
}

/* line 53, ../sass/minimize.scss */
.pane-node-book-menu ul,
.pane-hps-exhibits-panel-pane-exhibit-information-menu ul {
  list-style-type: none;
  padding-left: 0;
}
/* line 56, ../sass/minimize.scss */
.pane-node-book-menu ul ul,
.pane-hps-exhibits-panel-pane-exhibit-information-menu ul ul {
  padding-left: 1.5em;
}
/* line 60, ../sass/minimize.scss */
.pane-node-book-menu a,
.pane-hps-exhibits-panel-pane-exhibit-information-menu a {
  display: inline-block;
  padding: 0.15em 0.75em;
  border: none;
}
/* line 64, ../sass/minimize.scss */
.pane-node-book-menu a.active,
.pane-hps-exhibits-panel-pane-exhibit-information-menu a.active {
  text-decoration: none;
  border: 1px dashed black;
}

@media all and (min-width: 48em) {
  /* line 72, ../sass/minimize.scss */
  #basic {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 75, ../sass/minimize.scss */
  #basic #panel-mblmini-b1 {
    float: left;
    width: 41.66667%;
    margin-left: 0%;
    margin-right: -41.66667%;
    clear: none;
  }
  /* line 79, ../sass/minimize.scss */
  #basic #panel-mblmini-b2 {
    float: left;
    width: 58.33333%;
    margin-left: 41.66667%;
    margin-right: -100%;
    clear: none;
  }

  /* line 88, ../sass/minimize.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul {
    list-style-type: none;
    line-height: 4.5em;
  }
  /* line 5, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul, .pane-hps-exhibits-panel-pane-exhibit-information-menu ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
  }
  /* line 29, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul li:after {
    content: "|";
  }
  /* line 31, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul li:last-child:after {
    content: "";
  }
  /* line 34, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448@hps/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul li.last:after {
    content: "";
  }
  /* line 91, ../sass/minimize.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul a {
    display: inline-block;
    padding: 0.75em;
  }
  /* line 94, ../sass/minimize.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul a:first {
    padding-left: 0;
  }
  /* line 97, ../sass/minimize.scss */
  .pane-hps-exhibits-panel-pane-exhibit-information-menu ul a:last {
    padding-right: 0;
  }

  /* line 105, ../sass/minimize.scss */
  #footer .block.block-menu {
    padding: 0;
  }
  /* line 108, ../sass/minimize.scss */
  #footer .block:nth-child(2n+1) {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    text-align: right;
  }
  /* line 112, ../sass/minimize.scss */
  #footer .block:nth-child(2n) {
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
    clear: none;
  }
}
